* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    border-bottom: 5px solid black; 
    background-image: linear-gradient(#e56b22, #ffa55b);
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
}

.logo {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;   
    padding-left: 50px 
}

.logo div {
    opacity: 0;
}

.logo div > h4 {
    font-size: 24px;
}

.logo > a, .logo > a > img {
    width: auto;
    height: 12vh;
}

.logo > a:hover, .logo > a:hover > img {
    height: 14vh;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    padding-top: 1vw;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing:2px;    
    font-size:25px;
}

.nav-links a:hover {
    color: #ffffff;
    font-size: 35px;
}

.nav-links li {
    list-style: none;
    display: list-item;
}

.nav-links li.active {
    margin-bottom: 5px solid #ffffff;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 88vh;
        top: 15vh;
        border-left: 5px solid black; 
    background-image: linear-gradient(#e56b22, #ffa55b);
        display:flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        align-items: center;
        justify-content: space-around;
        padding-right: 30px;
    }
    .nav-links li > a {
        font-size: 7vw
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .logo div {
        opacity: 100;
        display: flex;
        text-align: center;
        margin-top: -11vh;
    }
    .logo div:hover{
        font-size: 35px;
        color: #ffffff;                
    }        
    .logo > a > img {
        display: hidden;
        opacity: 0;
    }
    .logo a {
        text-decoration: none;
        color: #000; 
    }    
    .logo > a:hover {
        height: 12vh;
    }
    .image1 {
        max-height: 30vh;
    }       
}    

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    } to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-7px, 6px);    
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -6px);
}

.about-us > p {
    text-align: center;
    font-size: 4vh;
}

.image1 {    
    border: 2px solid black;
    border-radius: 5vh;
    padding: 0.1vh;
    margin-bottom: 3vh;
}

.box {
    border: 3px solid #000;
    border-radius: 5vh;      
    padding: 10px;
    height: 72vh;
}

.box > iframe {
    width: 100%;
    height: 56%;
    border-radius: 5vh;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 41%;
    align-items: flex-start;
}

.links > a {
    text-decoration: none;
    color: #000;
    font-family: 'Rubik', sans-serif;
    border: 3px solid #000;
    border-radius: 5vh;
    padding: 6px;
    width: 100%;
    margin: 1px;
}

.links a:hover {
    background-color: black;
    color: white;
}

.links a > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box > .links svg {
    width: 3vw;
    height: 3vw;
    margin-left: 2vw;
}

.links a > div > svg {
    margin-right: 10px;
}

.links a:hover > div > svg {
    fill: white;
}

.links a > div > p {
    font-size: 4vh;
    margin-bottom: 0;
}

.see-more {
    text-align: center;
    font-size: 2vh;    
    display: flex;
    justify-content: center;
    padding: 1vh;
}

.see-more > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    border-radius: 5vh;    
    padding: 3vh;
    font-size: 4vh;
}

.see-more > a:hover {
    color: white;
    background-color: black;
}
.shirt {
    display: flex;
    flex-direction: column;    
}

.pics {
    display: flex;
    justify-content: center;
}

.mug {
    display: flex;
    flex-direction: column;    
}

.combo {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    align-items: center;
}

.pics > img {
    height: auto;
    max-width: 55vh;
    position: absolute;
    border: 3px solid black;
    border-radius: 5vh;    
}

.pics > img.hover-img {
    position: absolute;    
    opacity: 0;
}

.pics:hover img {
    opacity: 0;    
}

.pics:hover img.hover-img {
    opacity: 100%;
}

.merchan {
    text-align: center;
    font-size: 5vh;
}

.think-about-us {
    text-align: center;
}

.comment-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px black solid;
    border-radius: 5vh;
    padding: 3vh;
    margin-top: 2vh;
}

.comment-icon {
    height: auto;
    width: 22vh;
    border-radius: 11vh;
    border: 3px solid black;
    margin-bottom: 4vh;
}

.master {
    display: flex;
    align-items: center;
    flex-direction: column;      
}

.master > a {
    color: #000;
    border: solid 3px black;
    padding: 3vh;
    display: flex;
    justify-content: center;
    border-radius: 5vh;
    width: 100%;
    max-width: 90vh;
}

.master > a:hover {
    color: white;
    background-color: black;
}

.master > img {
    width: 100%;
    height: auto;
    max-width:75vh;
    margin: 2vh;
}

.lions {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.lions > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    padding: 3vh;
    margin-top: 2vh;
    border-radius: 5vh;
    max-height: 30vh;
}

.lions > a:hover {
    color: white;
    background-color: black;
}

.lions > img {
    width: 100%;
    height: auto;
    max-width: 30vh;
}

.lions > p {
    font-size: 1.5vh;
}

.vera {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 7vh;
}

.vera > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    padding: 3vh;
    margin-top: 5.5vh;
    border-radius: 5vh;
    width: 100%;
    max-width: 70vh;
}

.vera > a:hover {
    color: white;
    background-color: black;
}

.vera > img {
    width: auto;
    height: 25vh;
}

.vera > p {
    font-size: 1.5vw;
}

.partnership {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.partnership > p {
    font-size: 2vh;
    margin-left: 4vh;
    text-align: center;
}

.partnership > a {
    text-decoration: none;
    color:#000;
    border: solid 3px black;
    border-radius: 4vh;
    padding: 3vh;   
}

.partnership > a:hover {
    color: white;
    background-color: black;
}

.support-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 4vh;
}

.prosa-links {
    border-top: 5px solid black; 
    background-image: linear-gradient(#e56b22, #ffa55b);
    height: 30vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;    
}

.social-link {
    width: 100%;
    display: flex;
    align-items: center;     
    flex-direction: column; 
    justify-content: center;
}

.social-link svg {
    width: auto;
    height: 10vh;      
}

.social-link svg:hover {
    width: auto;
    height: 12vh;
}

.social-link svg:hover > path {
    width: 45px;
    height: 45px;
    fill: white;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;   
}


.text1 {
    font-family: 'Bangers', cursive;
}

.text2 {
    font-family: 'Rubik', sans-serif;
}

html, body {
    background-color: seashell;
}