* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    background-color: seashell;
}

a .href {
    color: black;
}

#main {
    width: 70vw;
    margin: 0 auto;
}

.text1 {
    font-family: 'Bangers', cursive;
}

.text2 {
    font-family: 'Rubik', sans-serif;
}

div.menu-header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    top: 0;
    left: 0;  
}

.container {
    border-bottom: 5px solid black; 
    background-image: linear-gradient(#e56b22, #ffa55b);
    display: flex;
    height: 9vw;
}

.menu {
    width: 62%;
    justify-content: center;
    display: flex;
    font-family: 'Bangers', cursive;
    font-size: 2.5vw;
    align-items: center;
    }

.menu > ul {
    list-style-type: none;    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}       

div.menu a {
    text-decoration: none;
    color: black;    
}

div.menu li > a:hover {
    color: white;
    font-size: 3vw;
}

div.menu li.active {
    margin-bottom: 5px solid #ffffff;
}

.logo {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;    
}

.logo > a, .logo > a > img {
    width: auto;
    height: 7vw;
}

.logo > a:hover, .logo > a:hover > img {
    height: 100%;
}

.social-link {
    width: 19%;
    display: flex;
    align-items: center;     
    flex-direction: column; 
    justify-content: center;
}

.social-link p {
    display: flex;    
    font-family: 'Bangers', cursive;
    font-size: 2vw;    
}

.social-link svg {
    width: 2vw;
    height: auto;      
}

.social-link svg:hover {
    width: 2.5vw;
    height: auto;
}

.social-link svg:hover > path {
    width: 45px;
    height: 45px;
    fill: white;
}

.images {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 2vw;
}

.about-us {
    text-align: center;
    margin-top: 10vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2 {
    margin: 3.1vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}    

.h2 svg {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 2.2vw;
    margin-right: 2.2vw;
} 

.image1 {
    min-height: 23vw;
    max-height: 33vw;
    margin: 5px;
    border: 0.2vw solid black;
    padding: 0.2vw;
}

.about-us-image {
    display: flex;
    justify-content: center;
}

.about-us-p {
    margin: 2.1vw;
    font-size: 2.1vw;
    border: 3px solid #000; 
    padding: 2vw;
    text-align: center;
    width: 58vw;   
}


.episodes {
    margin: 2.1vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;    
    margin-top: -2vw;
}
    
.box {
    border: 3px solid #000;
    margin: 2.6vw;
    height: 28vw;
    width: 27vw;
    padding: 10px;
}

.box > iframe {
    width: 100%;
    height: 56%;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 41%;
    align-items: flex-start;
}

.links > a {
    text-decoration: none;
    color: #000;
    font-family: 'Rubik', sans-serif;
    border: 1px solid #000;
    padding: 6px;
    width: 100%;
}

.links a:hover {
    background-color: black;
    color: white;
}

.links a > div {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.box > .links  p {
    font-size: 1.8vw;
    width: 68%;
    text-align: center;
}

.box > .links svg {
    width: 3vw;
    height: 3vw;
    margin-left: 2vw;
}

.links a > div > svg {
    margin-right: 10px;
}

.links a:hover > div > svg {
    fill: white;
}

.links a > div > p {
    font-size: medium;
}

.buy {
    text-align: center;
    font-size: 2vw;
    margin-top: 3vw;
}

.buy > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    padding: 1vw;
}

.buy > a:hover {
    color: white;
    background-color: black;
}

.store {
    display: flex;
    margin-top: -5vw;
    flex-direction: column;
    align-items: center;
}

.store-box {
    display: flex;
    flex-direction: column;    
    border: 3px solid #000;
    margin-top: 3.6vw;
    padding: 10px;    
    align-items: center;
    width: 60vw;
    height: 165vw;
}

.shirt {
    display: flex;
    flex-direction: column;        
    margin-top: 3vw;
}

.shirt > .pics > img {
    width: 15vw;
    height: auto;
    position: absolute; 
}

.pics {
    display: flex;
    justify-content: center;
}

.mug {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

.combo {
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
}

.combo > .pics > img {
    width: 35vw;
    height: auto;
    position: absolute; 
}

.pics > img {
    border: 3px solid black;
}

.mug > .pics > img {
    width: 15vw;
    height: auto;
    position: absolute;    
}

.pics > img.hover-img {
    position: absolute;    
    opacity: 0;
}

.pics:hover img {
    opacity: 0;    
}

.pics:hover img.hover-img {
    opacity: 100%;
}

.merchan {
    margin-top: 41vw;
    text-align: center;
    font-size: 3vw;
}

.see-more {
    text-align: center;
    font-size: 2vw;
}

.see-more > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    padding: 1vw;
}

.see-more > a:hover {
    color: white;
    background-color: black;
}

.think-about-us {
    text-align: center;
    font-size: 2vw;
    margin: 1vw;
}

.container-comment {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;    
}

.people {
    display: flex;
    flex-direction: row;
}

ul.people {
    list-style-type: none;
}

.people > li {
    margin: 2vw;
    margin-top: 1vw;
    display: flex;
    align-items: stretch;
    max-width: 18vw ;    
}

.people li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.2vw black;
}

.people  li > div > img {
    width: 10vw;
    height: 10vw;
    margin: 1vw;
    margin-bottom: 1vw;
    border-radius: 5vw;
    border: #000 0.2vw solid;
}

.people li > div > h5 {
    font-size: 1.5vw;
}

.people li > div > p {
    font-size: 1.3vw;
    text-align: center;
    padding: 1vw;
}

.support {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

.master {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 3px solid #000;
    padding: 10px;
    width: 77vw;
}

.master > a {
    color: #000;
    border: solid 3px black;
    padding: 1vw;
    width: 30vw;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2vw;
}

.master > a:hover {
    color: white;
    background-color: black;
}

.master > img {
    width: 65%;
    height: auto;
}

.master > p {
    font-size: 2vw;
}

.support-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.5vw;
}

.premium {
    display: flex;
    flex-direction: row;
}

.lions {
    display: flex;
    height: 40vw;
    width: 35vw;
    border: 3px solid #000;
    margin: 3.6vw;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.lions > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    padding: 1vw;
    margin-top: 1vw;
    width: 32vw;
    height: 7.5vw;
}

.lions > a:hover {
    color: white;
    background-color: black;
}

.lions > img {
    width: 75%;
    height: auto;
    margin-top: 3vw;
}

.lions > p {
    font-size: 1.5vw;
}

.vera {
    display: flex;
    height: 40vw;
    width: 35vw;
    border: 3px solid #000;
    margin: 3.6vw;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.vera > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    padding: 1vw;
    margin-top: 2vw;
    width: 32vw;
}

.vera > a:hover {
    color: white;
    background-color: black;
}

.vera > img {
    width: 45%;
    height: auto;
    margin-top: 1vw;
}

.vera > p {
    font-size: 1.5vw;
}

.news {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #000 solid 3px;
    padding: 1vw;
    width: 77vw;
    margin-bottom: 3vw; 
    height: 13vw;   
}

.news > img {
    width: 14%;
    height: auto;
    margin: 2vw;
}

.news > p {
    font-size: 2vw;
    margin-left: 4vw;
    text-align: center;
}

.news > a {
    text-decoration: none;
    color: #000;
    border: solid 3px black;
    padding: 1vw;
    width: 58vw;
}

.news > a:hover {
    color: white;
    background-color: black;
}